* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
}
body {
  width: 100vw;
}

header {
  width: 100vw;
  position: fixed;
  background: snow;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 0 60px;
}
section.container {
  width: 100vw;
  margin: 0 auto;
}
nav.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #7e4aa7;
  font-size: 16px;
}
a.link {
  text-decoration: none;
}
a.btn {
  text-decoration: none;
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 5px;
  color: snow;
  background-color: #7e4aa7;
}
a:hover {
  background-color: snow;
  color: #7e4aa7;
}
.navbar ul li {
  list-style-type: none;
  padding-left: 20px;
  color: #7e4aa7;
  font-weight: 600;
}
.navbar ul li:first-child {
  padding-left: 0;
}
.navbar ul {
  display: flex;
  padding: 40px 0;
}
h1.navbar-head-text {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 2px !important;
}

.hero {
  display: flex;

  align-items: center;

  color: #7e4aa7;
  background-color: #26093e;
}
.hero-left {
  width: 45%;
  padding-left: 80px;
}

h1.hero-left-text {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
h4.hero-left-small-text {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: goldenrod;
}
.hero-right {
  width: 55%;
}
img.hero-right-image {
  display: block;
  width: 100%;
  padding-top: 30px;
}
.hero-img {
  width: 100px;
}
.hero-img-two {
  width: 100px;
}
.part-two {
  width: 100vw;
  background-image: url("background.png");
  height: 80vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.part-two h1 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  color: #7e4aa7;
}
.part-two h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: goldenrod;
}
.part-two p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #7e4aa7;
}

.part-two a {
  width: 100px;
  background-color: #26093e;
}
footer {
  position: relative;
  height: 40vh;
  margin: 0 -60px;
  background-position: center;
  background-image: url(footer.png), url(footer-mask.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: snow;
}
.left {
  padding: 50px;
  flex-direction: column;
  width: 20%;
  position: relative;
  left: 70px;
}
.left img {
  padding: 15px;
}
.right {
  display: flex;
  width: 70%;
  margin-left: 100px;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.one {
  padding-right: 30px;
  margin: 10px;
}
.one h1 {
  font-size: 22px;
  line-height: 54px;
  font-weight: 600;
}
.one ul li {
  list-style-type: none;
  font-size: 16px;
  color: goldenrod;
  line-height: 20px;
}
.part-three {
  background-color: #26093e;
  width: 100vw;
  height: 60vh;
  position: relative;
}
.part-three-main {
  width: 80vw;
  height: 60%;
  margin: 10px auto;
  background-position: center;
  background-image: url(footer.png), url(footer-mask.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 9%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.part-three-main h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 500;
  color: snow;
}
.part-three-main h1 {
  font-size: 38px;
  line-height: 34px;
  font-weight: 400;
  color: goldenrod;
}
.part-three-main a {
  width: 100px;
  position: relative;
  left: 45%;
  color: snow;
}
.last {
  position: relative;
  right: -200px;
}
@media (max-width: 600px) {
  body,
  html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  header {
    background-color: snow;
    height: 20vh;
    width: 97%;
  }
  h1.navbar-head-text {
    position: absolute;
    top: 50%;
  }
  .navbar ul {
    display: none;
  }
  .hero {
    background-color: #26093e;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .hero-right {
    width: 100%;
    padding-top: 30px;
  }
  .hero-left-anchor {
    width: 200px;
  }
  .hero-img,
  .hero-img-two {
    display: none;
  }
  .hero-left {
    text-align: center;
    padding: 0 30px 40px 10px;
    width: 100%;
  }

  .part-two {
    height: 110vh;
    padding: 20px;
  }
  .part-two h1 {
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    margin: 30px;
    margin-top: 40px;
  }
  .part-two h3 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .part-two p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    width: 80%;
  }

  .part-three-main h1 {
    text-transform: uppercase;
    padding: 10px;
  }

  .part-three-main h3 {
    margin: 10px;
  }
  .part-three-main a {
    padding: 10px 15px;
    position: relative;
    left: 37%;
  }
  .part-three-main {
    padding: 40px;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  footer .left {
    position: relative;
    left: 25%;
  }
  footer .right {
    width: 100%;
    margin: 0 -50px;
  }
  .one {
    padding-right: 40px;
    margin: 0;
  }
  .last {
    padding-top: 60px;
    color: goldenrod;
  }
}
