* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
}
body {
  overflow-x: hidden;
  width: 100vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 100vw;
  margin-top: -20px;
  position: fixed;
  background: snow;
  z-index: 100;
  left: 0;
  right: 0;
  padding: 0 80px;
}

section.container {
  width: 90vw;
  margin: 0 auto;
}
nav.navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #7e4aa7;
  font-size: 16px;
}
a {
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  color: snow;
  background-color: #7e4aa7;
}
a:hover {
  background-color: snow;
  color: #7e4aa7;
}
.navbar ul li {
  list-style-type: none;
  padding-left: 20px;
  color: #7e4aa7;
  font-weight: 600;
}
.navbar ul {
  display: flex;
  padding: 50px;
  position: relative;
  left: 80px;
}
h1.navbar-head-text {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 2px !important;
}
.hero {
  background-color: #26093e;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  color: snow;
}
.hero-right-image {
  position: absolute;
  top: 91px;
  right: 50px;
  width: 50vw;
  height: 85vh;
}
.hero-img {
  width: 15%;
  position: absolute;
  top: 150px;
  left: 80px;
}

.hero-img-two {
  width: 15%;
  position: absolute;
  bottom: 70px;
  left: 25%;
}
.hero-left {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 5%;
}
.hero-left h1 {
  font-size: 40px;
  line-height: 50px;
}
.hero-left h4 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: goldenrod;
}
.hero-left-anchor {
  position: relative;
  top: 40px;
  background-color: transparent;
  border: 1px solid goldenrod;
}
.part-two {
  width: 100vw;
  background-image: url("background.png");
  height: 70vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.part-two h1 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  color: #7e4aa7;
}
.part-two h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: goldenrod;
}
.part-two p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #7e4aa7;
}

.part-two a {
  width: 100px;
  background-color: #26093e;
}
footer {
  position: relative;
  height: 40vh;
  margin: 0 -60px;
  background-position: center;
  background-image: url(footer.png), url(footer-mask.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  color: snow;
}
.left {
  padding: 50px;
  flex-direction: column;
  width: 20%;
  position: relative;
  left: 70px;
}
.left img {
  padding: 15px;
}
.right {
  display: flex;
  width: 70%;
  margin-left: 100px;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}
.one {
  padding-right: 30px;
  margin: 10px;
}
.one h1 {
  font-size: 22px;
  line-height: 54px;
  font-weight: 600;
}
.one ul li {
  list-style-type: none;
  font-size: 16px;
  color: goldenrod;
  line-height: 20px;
}
.part-three {
  background-color: #26093e;
  width: 100vw;
  height: 60vh;
  position: relative;
}
.part-three-main {
  width: 80vw;
  height: 60%;
  margin: 10px auto;
  background-position: center;
  background-image: url(footer.png), url(footer-mask.png);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 9%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.part-three-main h3 {
  font-size: 25px;
  line-height: 24px;
  font-weight: 500;
  color: snow;
}
.part-three-main h1 {
  font-size: 38px;
  line-height: 34px;
  font-weight: 400;
  color: goldenrod;
}
.part-three-main a {
  width: 100px;
  position: relative;
  left: 45%;
  color: snow;
}
.last {
  display: none;
}
@media (max-width: 600px) {
  body,
  html {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    position: relative;
  }
  header {
    background-color: snow;
    height: 20vh;
    width: 110vw;
  }
  h1.navbar-head-text {
    position: absolute;
    top: 50%;
  }
  .navbar ul {
    display: none;
  }
  .hero {
    position: relative;
    background-color: #26093e;
    width: 110vw;
    height: 160vh;
  }
  .hero-right-image {
    width: 110vw;
    height: 100vh;
    position: relative;
    left: -15px;
  }
  .hero-left-anchor {
    width: 200px;
  }
  .hero-img,
  .hero-img-two {
    display: none;
  }
  .hero-left {
    position: absolute;
    top: 65%;
    text-align: center;
  }
  .part-two {
    text-align: center;
    width: 110vw;
    height: 100vh;
    position: relative;
    left: -25px;
  }
  .part-two h1 {
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    margin: 30px;
    margin-top: 40px;
  }
  .part-two h3 {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .part-two p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    width: 80%;
  }
  .part-three {
    width: 110vw;
    height: 90vh;
  }

  .part-three-main h1 {
    text-transform: uppercase;
    padding: -40px;
  }

  .part-three-main h3 {
    margin: 20px;
  }
  .part-three-main a {
    width: 250px;
    position: relative;
    left: 25%;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  footer .left {
    position: relative;
    left: 25%;
  }
  footer .right {
    position: relative;
    top: -40px;
    left: 20px;
  }
  .one {
    padding-right: 40px;
    margin: 0;
  }
  .last {
    text-align: center;
    border-top: 1px solid goldenrod;
    padding-top: 10px;
    color: goldenrod;
  }
}
